{{> header}}
<main>
  <section>
    <h2>Dashboard</h2>
    <form class="new-post-form">
      <input type="text" id="post-title" placeholder="Title" required>
      <textarea id="post-content" placeholder="Content" required></textarea>
      <button type="submit">Create Post</button>
    </form>
    <section>
      {{#each posts}}
        <article>
          <h3>{{this.title}}</h3>
          <p>{{this.content}}</p>
        </article>
      {{/each}}
    </section>
  </section>
</main>
{{> footer}}